extends layout
block content
    h1 ID: #{id}
    form(method='POST' action='/users/#{id}/update')
        div
            label First name
            input(type='text' name='first_name' value='#{first_name}')
        div
            label Last name
            input(type='text' name='last_name' value='#{last_name}')
        div
            label Email
            input(type='text' name='email' value='#{email}')
        button.btn.btn-primary Update
        a.btn.btn-danger(href='/users/#{id}/delete') Delete

block footer
    | &copy; Copyrights

