extends layout
block content
    a.btn.btn-primary(href='/users/new') New user
    table.table
        tr
            th ID
            th Имя
            th Email
        -
        each user in list
            tr
                td
                    a(href='/users/#{user.id}') #{user.id}
                td= user.first_name + ' ' + user.last_name
                td= user.email

    a.btn.btn-primary(href='/users?offset=#{offset - count}&count=#{count}') < Prev
    span &nbsp;
    a.btn.btn-primary(href='/users?offset=#{offset + count}&count=#{count}') Next >
