doctype html
html
  head
    title= title
  body
    h1= title
    table
      tr
        td Имя
        td #{PROFILE.name}
      tr
        td Запросов
        td #{PROFILE.tutbyl}
      tr
        td Подключился
        td #{PROFILE.since}

    a(href='/logout') Logout
