
.input-line input, .input-line button {
    height: 40px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-line input[name=url] {
    width: 500px;
    padding-left: 5px;
}

.res {
    margin: 10px;
    font-size: 24px;
    line-height: 32px;
}
