doctype html
html
  head
    title!= title
    meta(charset='UTF-8')

  frameset(rows='70%,30%')
    frame(name='chat' src = '/chat/messages')
    frame(name='post' src = '/chat/post-form')

    noframes
      body
        div.container
          | Your browser does not support frames.
