extends layout
block content
  h1!= title
  if user
    h2= user
    ul
      li
        a.btn.btn-primary(href='/chat') Chat
      li
        a.btn.btn-primary(href='/logoff') Logoff
  else
    a(href='/login' class='btn btn-primary') Login
