doctype html
html
  head
    meta(charset='UTF-8')
    meta(
      http-equiv='refresh'
      content='5; url=?since=' + since
    )
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css')

  body
    div.container
      a.btn.btn-primary(href='javascript:history.go(0)') Reload
      dl
        each message in messages
          dt #{message.date} #{message.name}:
          dd.text= message.text
