doctype html
html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css')
    style
      | textarea { width: 100% }
  body
    div.container
      div= name
      div
        form(method='POST' action='/chat/messages')
          textarea(name='Text' rows=5 cols=80 autofocus)
          br
          button.btn.btn-primary Send
