extends layout
block content
  form(method='POST' action='/users')
    div
      label First name
      input(type='text' name='first_name')
    div
      label Last name
      input(type='text' name='last_name')
    div
      label Email
      input(type='text' name='email')
    button Create
